.versus-container{
   position: absolute;
   top: 50%; 
   width: 130px;
   height: 130px;
   text-align: center;
   background-color: transparent;
   border: 3px solid #fff;
   color: #fff;
   font-size: 80px;
   font-weight: 400;
   border-radius: 50%;
}
.win{
   background-color: green;
}
.loose{
   background-color: red;
}